.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #AAB7D4;
}

.tag {
    display: flex;
    margin-right: 5px;
    position: relative;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 600;

    .rect {
        width: 70px;
        height: 20px;
        padding: 1px 6px 2px 6px;
        border-radius: 4px;
        box-sizing: border-box;

        &.first {
            background-color: #B233A6;
            color: #FFF;
        }

        &.second {
            background-color: #EBEEF6;
            color: #616C82;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .triangel {
        height: 7px;
        width: 7px;
        background-color: #EBEEF6;
        border: 1px solid transparent;
        position: absolute;
        left: 82%;
        top: 0.1rem;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        border-radius: 0.35em 0 0.45em 0.35em;
        transform: rotate(-130deg);
    }


}
  
  
  
  
